@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,shrink-to-fit=no" />
    <title>@ViewData["Title"] - OnTime</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/lateral.css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary" style="margin-bottom:20px">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/img/OnTime.png" alt="OnTime" style="width:120px; height:auto; ">  </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </nav>
    <div class="content-box">
        <span id="open" onclick="openNav()">&#9776; </span>
        @if (SignInManager.IsSignedIn(User))
        {
            @if (User.IsInRole("User"))
            {
                <div class="middle">
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a class="list-group-item" asp-controller="Calendar" asp-action="Calendar"><i class="fa fa-calendar" aria-hidden="true"></i> Planifică</a>
                        <a class="list-group-item" asp-controller="Calendar" asp-action="GetUserEvents"><i class="fa fa-calendar-o" aria-hidden="true"></i>  Planificările mele</a>
                        <a class="list-group-item" asp-controller="Account" asp-action="GetAllUsers"><i class="fa fa-users" aria-hidden="true"></i>  Utilizatori</a>
                        <a class="list-group-item" asp-controller="Home" asp-action="Chat"><i class="fa fa-envelope" aria-hidden="true"></i> Chat</a>
                        <a class="list-group-item" asp-controller="Account" asp-action="ProfilulMeu"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Profilul meu</a>
                    </div>
                </div>
            }
            else
            {
                <div class="middle">
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a class="list-group-item" asp-controller="Calendar" asp-action="Calendar"><i class="fa fa-calendar" aria-hidden="true"></i> Planifică</a>
                        <a class="list-group-item" asp-controller="Calendar" asp-action="GetUserEvents"><i class="fa fa-calendar-o" aria-hidden="true"></i>  Planificările mele</a>
                        <a class="list-group-item" asp-controller="Account" asp-action="Register"><i class="fa fa-user-plus" aria-hidden="true"></i> Adăugare Utilizatori</a>
                        <a class="list-group-item" asp-controller="Account" asp-action="GetAllUsers"><i class="fa fa-users" aria-hidden="true"></i> Gestiune utilizatori</a>
                        <a class="list-group-item" asp-controller="Sala" asp-action="Index"><i class="fa fa-plus-circle" aria-hidden="true"></i> Gestiune săli</a>
                        <a class="list-group-item" asp-controller="Home" asp-action="Chat"><i class="fa fa-envelope" aria-hidden="true"></i> Chat</a>
                        <a class="list-group-item" asp-controller="Account" asp-action="ProfilulMeu"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Profilul meu</a>
                    </div>
                </div>
            }
        }
        @RenderBody()


    </div>
    <section class="page-section bg-dark text-white">
        <div class="container text-center">
            <h2 class="mb-4">Un intrument gândit să-ți crească eficiența</h2>
        </div>
    </section>



    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/lateral.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
