
@model PlanificatorSali.Models.ResetPasswordModel

@{ Layout = null;}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<style>
    h4 {
        text-align: center;
    }

    .col-md-4 {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
        margin-bottom: 20px;
    }
</style>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-secondary" style="margin-bottom:20px">
    <div class="container">
        <a asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/img/OnTime.png" alt="OnTime" style="width:120px; height:auto; ">  </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </div>
</nav>

<h4>Resetare parolă</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Email" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<section class="page-section bg-dark text-white" style="margin-top:400px;">
    <div class="container text-center">
        <h2 class="mb-4">Un intrument gândit să-ți crească eficiența</h2>
    </div>
</section>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>